.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url("https://img.freepik.com/vector-gratis/fondo-remolino-plano-purpura_23-2149986409.jpg"); /* Fondo temático */
    background-size: cover;
    background-position: center;
    color: #22e910; 
    text-align: center;
  }
  
  .hero-section {
    background-color: rgb(5, 5, 5); 
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px); 
  }
  
  .hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #0eed0e; 
  }
  
  .hero-section p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; 
  }
  
  .cta-button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #050505;
    background-color: #0fef29; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #055323; 
    transform: scale(1.05); 
    color: #ffffff;
  }
  p {
    color: #ffffff;
  }