.header {
    background-color: #1ddf1a; /* Fondo oscuro */
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    position: sticky;
    top: 0;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo img {
    height: 100px; /* Ajusta el tamaño del logo */
    transition: transform 0.3s ease; /* Animación al hacer hover */
  }
  
  .logo img:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el ratón */
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Espacio entre elementos del menú */
  }
  
  .nav ul li {
    display: inline;
  }
  
  .nav ul li a {
    color: #ffffff; /* Texto blanco */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease; /* Animación de color al hacer hover */
  }
  
  .nav ul li a:hover {
    color: #42f311; /* Color azul claro al pasar el ratón */
  }